# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Flask
instance/
.flaskenv

# YOLO outputs
runs/
results/
uploads/

# Database (optional)
waste.db

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log